header {
    height: 400px;
}

.bg-image1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.titre {
    color: white;
    opacity: 0.7;
    font-family: cursive;
    text-align: center;
}

section {
    height: 800px;
}

article {
    height: 400px;
    text-align: center;
}

.bg-image2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

article p {
    font-size: 25px;
}

footer {
    height: 300px;
}

#carouselExpampleControls {
    width: 50%;
    margin: auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
}